*
{
  box-sizing: border-box;
}
body{
  
  margin: -1px;
}

header{
  margin: -1px;
}
.topnav {
  overflow: hidden;
}
.topnav .icon {
  display: none;
}

.main1 a:hover{
  color: grey;
  transition: 0.7s;
}
.main1 a:active{
  color:orange;
}
.main1 a:active{
  color: rgb(245, 145, 51);
}
.main2
{ 
  background-image: url(services-right-turn-banner.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  max-width: 99.8%;
  background-color: rgba(0,0,0,0.5);
  height: 600px;
  background-size:cover;
  background-attachment:unset;
  background-blend-mode: overlay;

}
  
.main2min2
{
  font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
  text-align: center;
  margin: 0px;

}
.main2min2 h1
{  padding-top: 315px;
  font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
    font-weight: 700;
    font-size: 55px;
    color: #ffffff;
    line-height: 1em;
}
.main3{
  margin-bottom: 0;
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45px 0px ;
    background-color: #f6f6f6;
}
.main3 h1{
  font-size: 35px;
    color: #ebb518;
    font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
    font-weight: 200;
    margin: 0px 111px;
}
.main4
{
  align-items: center;
  margin: 0px 20px;
}
.main4tofoot
{
  padding: 30px 50px ;
}
.main4 h1{
  font-family: 'Arial',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    padding-bottom: 10px;
    color: #333;
  font-size: 35px;
}
.main4text
{
    background-color: #ebb518;
   padding: 20px 20px ;
    margin-bottom: 0px;
    color: white;
    width: 100%;
}
.main4imge img
{
  width:100%;
   height:300px;
  border: 1px solid  #ebb518 ;

}
.mian4max
{
  margin: 25px 30px ;
 
}
.main4min1
{
  display: flex;
  flex-direction: row;
  margin-left: 80px;
}
.main5
{
  background-position: bottom center;
  background-image: url(ser7.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  position: relative;
  
}
.main5min1
{    display: block;
     background-color:rgba(0,0,0,0.59) ;
     border: 1px solid #ebb518;
     padding: 40px;
     background-size: cover;
     position: relative;
    width: 40%;
    height: 50%;
    top: 100px;
    margin-left: 150px;
    background-attachment: fixed;
    background-blend-mode: overlay;
    text-align: center;
}
.button {
  background-color: rgba(0,0,0,0.1);
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  cursor: pointer;
}

.button1 {
  background-color: none; 
  color: white; 
  border: 2px solid white;
}
.button1:hover{
  padding: 10px 35px;
  border: 0px;
  background-color: rgba(119, 116, 116, 0.905);
}
.button1 .angle:hover{
  display:contents;
  color: white;
}
.angle
{
  display: none;
}
.main5min1 h1{
  color: white;
  font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
  font-weight: 500;
}
.main6min1{
  width: 100%;
  color: white;
  margin: 10px;
  padding-left: 150px;
}
.main6
{
  background-color: rgba(0,0,0,0.85);
  width: 100%;
  height: auto;
  display: flex;
  text-align: left;
  margin: 0px;
}
.main6min1 h2{
  color: #ebb518;
  font-size: 18px ;
  font-family: 'Antic Slab',Georgia,"Times New Roman",serif
}
.main6min1 p{
  font-size: 14px;

}
.button1 .angle:hover{
  display:inline;
  color: white;
}
.angle{
  display: none;
}
button:hover span{
  display: inline;
}
.main6min1 a{
text-decoration: none;
color: white;
font-size: 14px ;
}
footer
{
  background-color: black;
  margin: 0px;
}
footer p{
  color: white;
  margin: 0px;
  font-size: 16px;
  padding: 20px 150px;

  
}
@media only screen and (max-width: 760px) {
  body {
width: 100%;
  }
  .main4 h1
  {
    padding: 10px 20px;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
.main4min1
{
  display: grid;
  margin-left: 0%;
}
.mian4max
{
 grid: initial;
 grid-column: auto;
}

.main2{
  width: 100%;
  height:auto;
}
.main5{
  margin: 0px 0px;
    height: 300px;
}
.main5min1{
  margin: 20px 60px;
  padding: 0px 0px;
  width: 70%;
  top: 60px;
}
.main5min1 h1
{
  font-size: 20px;
}
.main6{
  display: block;
  text-align: left;

}
.main6min1
{
  padding: 5px 20px;
  margin: 0px 0px;
}
.main6min1 p{
  font-size: 15px;
}
.button1
{
  padding: 5px 5px;
}

footer p {
  
  text-align: center;
  margin:0px  5px;
  padding: 20px 10px;
}
.main4tofoot
{
  padding: 0px 0px;
}
.main3 h1{
margin: 0px 10px ;
padding: 30px 0px;
}
.main2min2
{
  align-items: center;
}
.main2min2 h1 {
  padding-top: 5%;
 
}
.main2min3
{
  padding: 120px 0;

}
.main4max
{
  padding: 0px 0px;
  margin-bottom: 30px;
  
}
.main4text
{
  width: 100%;
  height: auto;

}
.main4imge 
{
  width: 100%;
  height: auto
}
.main4min1
{
  margin-top: 10px;
}
}